li {
    list-style-type: none;
}

ul {
    padding: 0 40px;
}

#loading {
    text-align: center;
    font-size: 200%;
}

.job-container {
    clear: both;
}

.job-container > .job-left {
    float: left;
}

.job-container > .job-right {
    float: right;
}